/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* COLOR CODES  L- 13 */
/* DÉFINITIONS DES POLICES L- 23 - */
/* ELEMENTS PRINCIPAUX L-34 */
/* ASIDE - Bande latérale L-49 */
/* CV L-127 */
/* MEDIA QUERIES L-203 */


/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black (text) :	#000 ;
Pink :	#E91E63 ;
Pink dark (circle image) : #C2185B ;
Green (visited links) :	#8BC34A ou 	rgb(139, 195, 74);
Grey (all) : #455A64;

/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */
@font-face
{
	font-family: 'Roboto-Regular.ttf';
	src: url('ressources/polices/Roboto-Regular.ttf');
	font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body {
	font-family: 'Roboto-Regular', Arial, "Arial black", Impact, sans-serif;
	margin: auto;
	width: 100%;
	display: flex;
	max-width: 1200px;
}

h1, h2,  h3, h4, p {
	color: #37474F;
}

/* ---------------------------------------- */
/* ==      ASIDE - Bande latéral             */
/*---------------------------------------- */

aside {
	background-color :#E91E63;
	width: 45%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#photo-j {
	width: 55%;
	margin: 60px auto;
	
}

#photo-j img {
	border-radius: 100%;
	width: 94%;
	border: solid 4px #C2185B;
}


aside h3 {
	color: #E91E63;
	background: #8BC34A;
	margin: auto;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 1.6em;
}

aside p {
	margin: 40px;
	color: white;
}


/*     Contact     */

/*     A propos      */

/*     Loisirs     */
#logos-loisirs {
	display: flex;
	justify-content: space-between;
	margin: 15px;
}

.logos {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos p {
	margin: 10px;
}

.logos i {
	color: white;
}

.logo-circle {
	width: 40px;
	height: 40px;
    color: white;
    border: solid 2px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------- */
/* ==           CV             */
/*---------------------------------------- */

main {
	margin: 40px;
	justify-content: space-around;
    display: flex;
    flex-direction: column;
}

main p {
	text-align: justify;
}


.colonne-gauche i {
	color: #E91E63;
}


/*     Titre CV     */
#prenom {
	color: #E91E63;
}

#titre-metier {
	border-bottom: solid 1px #E91E63; 
}


/*     Section FORMATION  & Section EXPERIENCES PROFESSIONELLES      */

section {
	width: 100%;
}

section h2 {
	margin-left: 40px;
}

.titre {
	display: flex;
	border-bottom: solid #E91E63;
	margin: 35px 0 35px 0;
}

.colonne-gauche {
	display: flex;
	align-items: baseline;
    justify-content: space-between;
    width: 20%;
}

.colonne-droite {
	width: 65%;
}

article, #recommandations {
	display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-titre {
	font-size: 2em;
    display: flex;
    align-items: center;
    color: #E91E63;
}

.fa-circle {
	font-size: 0.5em;
}
/*     Section RECOMMANDATIONS      */

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

/*     Ecran mobile <768px      */
@media screen and (max-width: 767px)
{
	body {
		display: flex;
		flex-direction: column-reverse;
	}

	h1 {
		font-size: 1.4em;
		margin-top: 30px;
	}

	body h2 {
		font-size: 1.2em;
		margin-left: 20px;
		color: white;
	}

	.logo-titre {
		font-size: 1.2em;
		margin: 10px;
		color: white;
	}

	h3 {
		font-size: 1.1em;
		margin: 10px 0;
	}

	h4 {
		font-size: 1em;
		margin: 10px 0;
	}


	/* ==           CV             */

	main {
		margin: 0;
	}

	main p {
		text-align: initial;
		line-height: 1.8em;	
	}

	article, header, #recommandations 
	{
		width: 95%;
		margin: auto;
		flex-direction: column;
	}

	header h2 {
		color:#37474F;
		margin-left: 0;
	}

	.colonne-droite {
		width: 90%;
		margin-left: 10%;
	}

	.titre {
		margin: 20px 0 20px 0;
		border: none;
		background: #E91E63;
	}

	.fa-circle {
		font-size: 0.3em;
	}

	.fa-dot-circle {
		font-size: 0.7em;
	}

	.colonne-gauche {
		width: 100%;
	}

	.colonne-gauche p {
		width: 90%;
	}


	#recommandations {
		display: block;
		text-align: center;
	}

	#recommandations p {
		text-align: center;
	}



	/*     ASIDE - Bande latérale     */


	aside {
		width: 100%;
		background: none;
		border-top: groove 4px #E91E63;
		margin-top: 20px;
	}

	aside h3 {
		background: none;
		font-size: 1.3em;
		border-bottom: solid 1px #E91E63;
	}

	.informations p {
		text-align: center;
		margin: 15px;
		color: #37474F;
		line-height: 1.8em;
	}

	.infos-contact {
		color: #E91E63;
		font-weight: bold;
	}

	#aside-mobile {
		display: flex;
		align-items: center;
		padding: 20px;
		justify-content: space-around;
	}

	#aside-mobile h3 {
		display: none;
	}

	#photo-j {
		width: 50%;
		margin: 60px 0;
	}

	.logo-circle {
		color: #E91E63;
	}


	.logos i {
		color: #E91E63;
	}
}


/*     Ecran tablette 768px - 991px     */
@media all and (min-width: 768px) and (max-width: 991px) {

	/*     ASIDE - Bande latérale     */

	aside {
		width: 33%;
	}

	.logos {
		width: 25%;
    	margin: auto;
	}

	/* ==           CV             */

	main {
		margin: 15px;
	}

	.titre {
		margin: 25px 0 25px 0;
	}

	article, #recommandations {
		align-items: baseline;
	}

	.colonne-gauche {
		width: 22%;
	}

	.colonne-gauche p {
		font-size: 0.9em;
	}

	.colonne-droite {
		width: 75%;
	}

	#recommandations p {
		width: 40%;
	}
}


/*     Ecran desktop  >991 - 1200px     */