/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* COLOR CODES  L- 9 */
/* DÉFINITIONS DES POLICES L- 69 - */
/* ELEMENTS PRINCIPAUX L-79 */
/* HEADER - Bande latérale L-96 */
/* CV L-173 */
/* MEDIA QUERIES L-256 */


/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Black (text) :	#000 ;
Pink :	#E91E63 ;
Pink dark (circle image) : #C2185B ;
Green (visited links) :	#8BC34A ou 	rgb(139, 195, 74);
Grey (all) : #455A64;

*/

/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */

/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */

/*     HEADER - Bande latérale     */

/*     CV      */


/* ---------------------------------------- */
/* ==      HEADER - Bande latéral             */
/*---------------------------------------- */

/*     Contact     */

/*     A propos      */

/*     Loisirs     */

/* ---------------------------------------- */
/* ==           CV             */
/*---------------------------------------- */

/*     Titre CV     */

/*     Section FORMATION      */

/*     Section EXPERIENCES PROFESSIONELLES      */

/*     Section RECOMMANDATIONS      */

/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

/*     Ecran mobile <768px      */

/*     Ecran tablette 768px - 991px     */

/*     Ecran desktop  >991     */

/* --------------------------------------------------------------------------------- */

/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */
@font-face
{
	font-family: 'Roboto-Regular.ttf';
	src: url('ressources/polices/Roboto-Regular.ttf');
	font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body {
	font-family: 'Roboto-Regular', Arial, "Arial black", Impact, sans-serif;
	margin: auto;
	width: 100%;
	display: flex;

}

h1, h2,  h3, h4, p {
	color: #37474F;
}


/* ---------------------------------------- */
/* ==      HEADER - Bande latéral             */
/*---------------------------------------- */

header {
	background-color :#E91E63;
	width: 45%;
	height: auto;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#photo-j {
	width: 55%;
	height: auto;
	margin: 60px auto;
	
}

#photo-j img {
	border-radius: 100%;
	width: 94%;
	height: auto;
	border: solid 4px #C2185B;
}

#telephone {
	color: white;
	font-style: none;
}

header h3 {
	color: #E91E63;
	background: #8BC34A;
	margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0;
    font-size: 1.6em;
}

header p {
	margin: 40px;
	color: white;
}


/*     Contact     */

/*     A propos      */

/*     Loisirs     */
#logos-loisirs {
	display: flex;
	justify-content: space-between;
	margin: 15px;

}

.logos {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos p {
	margin: 10px;
}

.logos i {
	border: solid 2px;
	border-radius: 100%;
	color: white;
	margin: auto;
    border-radius: 60%;
    padding: 10px;
    border-color: white;
}

/* ---------------------------------------- */
/* ==           CV             */
/*---------------------------------------- */

#cv {
	margin: 40px;
	justify-content: space-around;
    display: flex;
    flex-direction: column;
}


.colonne-gauche i {
	color: #E91E63;
}


/*     Titre CV     */
#prenom {
	color: #E91E63;
}

#titre-metier {
	border-bottom: solid 1px #E91E63; 
}



/*     Section FORMATION  & Section EXPERIENCES PROFESSIONELLES      */

section {
	width: 100%;
	height: auto;
}

section h2 {
	margin-left: 40px;
}

.titre {
	display: flex;
	border-bottom: solid #E91E63;
	margin: 35px 0 35px 0;
}

.colonne-gauche {
	display: flex;
	align-items: baseline;
    justify-content: space-between;
    width: 20%;
    height: auto;
}
.colonne-droite {
	width: 65%;
}
article {
	display: flex;
    justify-content: space-between;
    width: 100%;
}


.logo-titre {
	font-size: 2em;
    display: flex;
    align-items: center;
    color: #E91E63;
}

.fa-circle {
	font-size: 0.5em;
}


/*     Section RECOMMANDATIONS      */



/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

/*     Ecran mobile <768px      */
@media screen and (max-width: 767px)
{
	body {
		display: flex;
		flex-direction: column-reverse;
	}

	h1 {
		font-size: 1.4em;
		margin-top: 30px;
	}

	body h2 {
		font-size: 1.2em;
		margin-left: 20px;
		color: white;
	}

	.logo-titre {
		font-size: 1.2em;
		margin: 10px;
		color: white;
	}

	h3 {
		font-size: 1.1em;
		margin: 10px 0;
	}

	h4 {
		font-size: 1em;
		margin: 10px 0;
	}





	/* ==           CV             */

	#cv {
		margin: 0;
	}

	article, #presentation {
		width: 95%;
		margin: auto;
	}

	.colonne-droite {
		width: 75%;

	}

	.titre {
		margin: 20px 0 20px 0;
		border: none;
		background: #E91E63;
	}

	.fa-circle {
		font-size: 0.3em;
	}

	.fa-dot-circle {
		font-size: 0.7em;
	}

	.colonne-gauche {
		width: 30%;
	}

	.colonne-gauche p {
		font-size: 0.7em;
		width: 80%;
	}


	#recommandations {
		display: block;
		text-align: center;
	}

	#recommandations p {
		text-align: center;
	}



	/*     HEADER - Bande latérale     */


	header {
		width: 100%;
		height: auto;
		background: none;
		border-top: groove 4px #E91E63;
		margin-top: 20px;
	}

	header h3 {
		background: none;
		font-size: 1.3em;
		
		border-bottom: solid 1px #E91E63;

	}

	

	.section1 p {
		text-align: center;
		margin: 15px;
		color: #37474F;

	}

	.infos-contact {
		color: #E91E63;
		font-weight: bold;
	}

	#header-mobile {
		display: flex;
		align-items: center;
		padding: 20px;
		justify-content: space-around;

	}

	#header-mobile h3 {
		display: none;
		

	}

	#photo-j {
		width: 50%;
		margin: 60px 0;
	}


	.logos i {
		color: #E91E63;
		border-color: #E91E63;

	}

	
}




/*     Ecran tablette 768px - 991px     */
@media all and (min-width: 768px) and (max-width: 991px) {

	/*     HEADER - Bande latérale     */

	header {
		width: 33%;
	}

	.logos {
		width: 25%;
    	margin: auto;
	}

	/* ==           CV             */

	#cv {
		margin: 15px;
	}

	.titre {
		margin: 25px 0 25px 0;
	}

	article {
		align-items: baseline;
	}

	
	.colonne-gauche {
		width: 20%;
	}

	.colonne-gauche p {
		font-size: 0.9em;
	}

	.colonne-droite {
		width: 75%;
	}

	

}


/*     Ecran desktop  >991 - 1200px     */